API_PORT=8080

# == API ==
FRONTEND_URL="http://localhost:5173"

# == PostgreSQL ==
POSTGRES_DB="postgres"
POSTGRES_USER="root"
POSTGRES_PASSWORD="example"
DATABASE_URL="postgres://root:example@localhost:5432/postgres"

#  == Redis ==
REDIS_PORT="localhost:6379"
REDIS_PASSWORD="pass"
REDIS_DB_IDX="0"

# == JWT ==
SECRET_KEY="something_really_long_that_idk_what_exactly"
